{% extends 'medical_services/base.html' %}
{% load static %}

{% block content %}
<main role="main">
  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">О нашей Семейной Клинике</h1>
    </div>
  </section>

  <div class="container">
    <p>
      Добро пожаловать в нашу семейную клинику!
      Мы - команда опытных и дружелюбных профессионалов, готовых предоставить качественные медицинские услуги вашей семье. Наша цель - обеспечить заботу и поддержку для каждого пациента, независимо от возраста или медицинской потребности.
    </p>
    <p>
      В нашей клинике мы предлагаем широкий спектр услуг, включая семейную медицину, педиатрию, гинекологию, а также профилактические осмотры и лечение различных заболеваний. Мы стремимся создать уютную и дружелюбную атмосферу, чтобы наши пациенты чувствовали себя комфортно и уверенно.
    </p>
    <p>
      Наша клиника оснащена современным оборудованием, что позволяет нам обеспечивать высокий уровень медицинского обслуживания. Наша команда врачей и медицинских специалистов постоянно совершенствует свои навыки и знания, чтобы быть в курсе последних медицинских достижений.
    </p>
    <p>
      Мы гордимся тем, что создали клинику, где каждый член вашей семьи будет получать заботу, внимание и профессиональное лечение. Мы стремимся быть вашими надежными партнерами в поддержании здоровья и благополучия вашей семьи.
    </p>
    <p>
      Мы приглашаем вас посетить нас и убедиться в высоком уровне нашего обслуживания. Ваше здоровье - наша главная ценность!
    </p>

    <!-- Добавленные фотографии -->
    <div class="row">
      <div class="col-md-3">
        <img src="{% static '/media/1.jpeg' %}" alt="Photo 1" class="img-fluid">
      </div>
    </div>

    <div class="row mt-4">
      <div class="col-md-6">
        <form method="post" action="{% url 'medical_services:services' %}">
          {% csrf_token %}
          <button type="submit" class="btn btn-lg btn-block btn-outline-primary">Наши услуги</button>
        </form>
      </div>
      <div class="col-md-6">
        <form method="post" action="{% url 'feedback:feedback' %}">
          {% csrf_token %}
          <button type="submit" class="btn btn-lg btn-block btn-outline-primary">Оставить заявку на прием</button>
        </form>
      </div>
    </div>
  </div>
</main>
{% endblock %}
