{% extends 'medical_services/base.html' %}

{% block content %}
<div class="container">
    <div class="row text-start">
        <div class="col-lg-9 col-md-6 col-sm-12">
            <div class="card mb-4 box-shadow">
                <div class="card-body">
                    <table class="table table-striped">
                        <tr>
                            <td class="w-25">Город</td>
                            <td>Челябинск</td>
                        </tr>
                        <tr>
                            <td class="w-25">Улица</td>
                            <td>Энергетиков 25</td>
                        </tr>
                        <tr>
                            <td class="w-25">Телефон</td>
                            <td>+7 (351) 235-03-03</td>
                        </tr>
                        <tr>
                            <td class="w-25">Режим работы</td>
                            <td>Пн-Пт: 9.00-20.00, Сб: 9.00-12.00 Вс. выходной</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>


{% endblock %}
